{% extends 'layout.html' %}
{% block content %} 

<div class="search-bar">
    <form method="POST" novalidate>
        {{ search_form.csrf_token }}
        {{ search_form.search(class_="search-field") }}
        {{ search_form.submit_search(class_="search-btn") }}
    </form>
</div>

<div class="grid-container">
    <!--diff. form for each course in a for loop so we don't have to manually create a diff form for each course-->
    {% for course, enroll_form in zip(all_courses, enroll_forms) %}
        <div class="form">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ enroll_form.csrf_token }}
                
                <!-- Hidden field for Course ID  so each form knows the  id of the id of the course-->
                {{ enroll_form.course_id(value=course.id) }}
            
                <p>Course Name: {{ course.subject }}</p>
            
                <p>
                    Joining Code: {{ enroll_form.joining_code }}
                    {% if enroll_form.joining_code.errors %}
                        <span style="color:red">{{ enroll_form.joining_code.errors[0] }}</span>
                    {% endif %}
                </p>
                
                 
                <p>
                    {{ enroll_form.submit_enroll(class_="search-btn") }} 
                    <span>Enroll in {{ course.subject }}</span>
                </p>
            </form>
        </div>
    {% endfor %}
</div>
 
{% endblock %}