{% extends 'layout.html' %}
{% block content %} 

<div class="search-bar">
    <form method="POST" action="{{ url_for('all_courses', ref=current_user.id) }}">
        {{ search_form.csrf_token }}
        {{ search_form.search(class_="search-field") }}
        {{ search_form.submit_search(class_="search-btn") }}
    </form>
</div>

<div class="grid-container">
    {% for course, enroll_form in zip(all_courses, enroll_forms) %}
        <div class="form">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ enroll_form.csrf_token }}
                
                <p>Course Name: {{ course.subject }}</p>

                <p>
                    Course ID: {{ enroll_form.course_id(value=None)}}
                    {% if enroll_form.course_id.errors %}
                        <span style="color:red">{{ enroll_form.course_id.errors[0] }}</span>
                    {% endif %}
                </p>

                <p>
                    Joining Code: {{ enroll_form.joining_code(value=None) }}
                    {% if enroll_form.joining_code.errors %}
                        <span style="color:red">{{ enroll_form.joining_code.errors[0] }}</span>
                    {% endif %}
                </p>
                
                <p>{{ enroll_form.submit_enroll(class_="search-btn", value="course.id") }}</p>
            </form>
        </div>
    {% endfor %}
</div>
 
{% endblock %}