{% extends 'layout.html' %}
{% block content %} 

<div class="search-bar">
    <form method="POST" action="{{ url_for('all_courses', ref=current_user.id) }}">
        {{ search_form.csrf_token }}
        {{ search_form.search(class_="search-field") }}
        {{ search_form.submit_search(class_="search-btn") }}
    </form>
</div>

<div class="grid-container">
    {% for course in all_courses %}
        <div class="form">
            <form method="POST" enctype="multipart/form-data" novalidate>
            
                {{ form.csrf_token }}
                <p>{{ course.subject }}</p>
                <p>
                    course id: {{ form.course }}
                    {% if form.course.errors %}
                        <span style="color:red">{{ form.course.errors[0] }}</span>
                    {% endif %}
                </p>
                
                <p>
                    Joining code: {{ form.joining_code }}
                    {% if form.joining_code.errors %}
                        <span style="color:red">{{ form.joining_code.errors[0] }}</span>
                    {% endif %}
                </p>
                
                <p>{{ form.submit_enroll(class_="search-btn") }}</p>

            </form> 
        </div>
    {% endfor %}  
</div>
 
{% endblock %}