
<script src="/static/chat.js"></script>
{% extends 'layout.html' %}
{% block content %}
<div class="chat-container">
    <!--id fro java script to access-->
    <div class="chat-window" id="chat-window">
        {% for chat in chats %}
        <!--gives different class names to messaages sent by you and others so we can change thier position later-->
        <div class="message {% if chat.user_id == current_user.id %}user{% endif %}">
            <p class="username">{{ name[loop.index0] }}</p>
            <p>{{ chat.chat_content }}</p>
            <p class="timestamp">{{ chat.timestamp }}</p>
        </div>
        {% endfor %}
    </div>
    <form method="POST" class="input-area" novalidate>
        {{ form.hidden_tag() }}  <!-- Renders the CSRF token -->
    
        <!-- Render the chat input field with a placeholder -->
        {{ form.chat }}
    
        <!-- Render the submit button with an icon -->
        <button type="submit">
            <img src="/static/images/send-button.jpg" alt="Send">
        </button>
    </form>
</div>
{% endblock %}