{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="form">
        <form method="POST" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token }}
            <p>Name: {{ form.name }}</p>
            {% if form.name.errors %}
                <span style="color:red">{{ form.name.errors[0] }}</span>
            {% endif %}
            
            <p>Email: {{ form.email }}</p>
            {% if form.email.errors %}
                <span style="color:red">{{ form.email.errors[0] }}</span>
            {% endif %}
            
            <p>Password: {{ form.password }}</p>
            {% if form.password.errors %}
                <span style="color:red">{{ form.password.errors[0] }}</span>
            {% endif %}
            
            <p>Confirm Password: {{ form.confirm }}</p>
            {% if form.confirm.errors %}
                <span style="color:red">{{ form.confirm.errors[0] }}</span>
            {% endif %}
            
            <p>Year: {{ form.year }}</p>
            {% if form.year.errors %}
                <span style="color:red">{{ form.year.errors[0] }}</span>
            {% endif %}
            
            <p>{{ form.submit(class_="search-btn") }}</p>
            
        </form> 
    </div>
</div>
{% endblock %}