{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="form">
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token }}
            <img src="/static/images/login img.png" alt="LOGIN IMAGE">

            <p>Email: {{ form.email }}</p>
            {% if form.email.errors %}
                <span style="color:red">{{ form.email.errors[0] }}</span>
            {% endif %}

            <p>Password: {{ form.password }}</p>
            {% if form.password.errors %}
                <span style="color:red">{{ form.password.errors[0] }}</span>
            {% endif %}
            
            <p>{{ form.submit(class_="search-btn") }}</p>
        </form> 
    </div>
</div>
{% endblock %}