{% extends 'layout.html' %}
{% block content %}
<div class="grid-container">
    {% if course_user|length == 0 %}
        {% if current_user.has_role('teacher') %}
            <p>you have not created any courses</p>
            <a href="/create_course" class="search-btn">create a course</a>
        {% else %}
            <p>You are not enrolled in any courses.</p>
            <a href="/all_courses/{{ current_user.id }}" class="search-btn">Browse available courses</a>
        {% endif %}
    {% else %}
        {% for course in course_user %}
        <div class="item">  
            {% if current_user.has_role('teacher') %}
                <a href="/delete_course/{{current_user.id}}/{{course.id}}">delete course</a>
                <a href="/chats/{{current_user.id}}/{{course.id}}">{{ course.subject }} </a>
                <p> Course ID:{{course.id}}</p>
                <p> Course joining Code:{{course.joining_code}}</p>
            {% else %}
                <a href="/chats/{{current_user.id}}/{{course.id}}">{{ course.subject }} </a>
                <a href="/leave_course/{{current_user.id}}/{{course.id}}">leave🚪</a>
            {% endif %}
        </div> 
        {% endfor %}
    {% endif %}    
</div>
{% endblock %}   