<nav>
    <div class="navbar">
        {% if current_user.is_authenticated %}
            {% if current_user.has_role('teacher') %}
                <ul>

                    <li><a href="/my_courses/{{current_user.id}}">my courses</a></li>
                    <li><a href="/create_course">create course</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            {% else %}
                <ul>

                    <li><a href="/my_courses/{{current_user.id}}">my courses</a></li>
                    <li><a href="/all_courses/{{current_user.id}}">all courses</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
            {% endif %}

        {% else %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/create_acc_student">register student</a></li>
                <li><a href="/create_acc_teacher">register teacher</a></li>
            </ul>
        {% endif %}

        
    </div>
</nav>
